@charset "utf-8";
/* CSS Document */
body{background-image:url(../images/grey.jpg);background-repeat:repeat-y;
background-size:cover;
background-attachment: fixed;
background-color: GREY}
.head
{
	font-family:"trebuchet MS";
	color:#60F;
	font-size:40px;
	text-shadow:1px 1px 2px #000;
}
.fields
{
	background-color:transparent;
	border:solid 1px #F90;
	height:20px;
}
.formTable
{
	border:solid 1px #F90;
	padding:7px 7px;
	border-radius:10px;
}
.labels
{
	font-family:"trebuchet MS";
	font-size:18px;
	text-shadow:1px 1px 10px #000;
	color:#333;
}
.button
{
	font-family:"trebuchet MS";
	color:#60F;
	background-color:transparent;
	border:2px solid #F90;
	font-size:14px;
	font-weight:bold;
}
.marquee
{
	font-family:"trebuchet MS";
	color:#630;
	font-size:18px;
	text-shadow:0px 0px 1px #000;
}
.Subhead
{
	font-family:"trebuchet MS";
	color:#36F;
	font-size:20px;
	text-shadow:1px 1px 1px #000;
}
.info
{
	font-family:"trebuchet MS";
	font-size:16px;
	color:#090;
	text-shadow:0px 0px 4px #0F0;
}
a:link{font-family:"trebuchet MS";color:#900;font-size:16px;text-decoration:none;}
a:active{font-family:"trebuchet MS";color:#900;font-size:16px;text-decoration:none;}
a:visited{font-family:"trebuchet MS";color:#900;font-size:16px;text-decoration:none;}
a:hover{font-family:"trebuchet MS";color:#F0F;font-size:16px;text-decoration:none;text-shadow:1px 1px 1px #000;}

option{background-color:#FF6;border:hidden;}
th{font-family:"trebuchet MS";font-size:16px;color:#333;text-shadow:0px 0px 1px #000000;}

th
{
 border-bottom:1px solid #000;
}
td {vertical-align:top;}